.home {
  background-color: #fefbf3;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  height: 100vh;
}

.home h1 {
  margin-top: 10em;
  margin-bottom: 2em;
}

.home > button {
  margin-top: 5em;
  border: none;
  background: transparent;
  cursor: pointer;
}

.login-btn {
  margin: 3em;
  padding: 1em 2em;
  background-color: #79B4B7;
  border: none;
  box-shadow: 1px 1px 1px 1px grey;
  border-radius: 20px;
  color: #ffe3e3;
  cursor: pointer;
}

.login-btn:hover {
  color: black;
}

a {
  text-decoration: none;
}
