.new-checklist-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 4em;
  padding-right: 4em;
  padding-bottom: 4em;
  background-color: #f8f0df;
  border: 2px solid #9d9d9d;
  border-radius: 20px;
  display: relative;
}

.editPopup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 4em;
  padding-right: 4em;
  padding-bottom: 4em;
  background-color: #f8f0df;
  border: 2px solid #9d9d9d;
  border-radius: 20px;
  display: relative;
}

ul {
  list-style-type: none;
}