* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.button-box {
  width: fit-content;
  height: fit-content;
  margin-top: 2em;
}

.form-button {
  cursor: pointer;
  height: 2em;
  width: 2em;
  border: none;
  background-color: #79B4B7;
  color: #FFE3E3;
  box-shadow: 1px 1px 1px 1px grey;
}

.form-button:hover {
  color: black;
}

.form-button:active {
  transform: translateY(2px);
}

.new-user {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 4em;
  padding-right: 4em;
  padding-bottom: 4em;
  background-color: #f8f0df;
  border: 2px solid #9d9d9d;
  border-radius: 20px;
  display: relative;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: left;
}

form .input {
  margin: 2em;
}

form .new-button {
  cursor: pointer;
  margin-top: 2em;
  width: fit-content;
  padding: 0.5em 1.5em;
  border-radius: 20px;
  border: none;
  box-shadow: 1px 1px 1px 1px grey;
  color: #FFE3E3;
  margin: 2em;
}

form .new-button:hover {
  color: black;
  background-color: #79B4B7;
}

form .new-button:active {
  transform: translateY(2px);
}

h6 {
  margin-top: 4em;
  margin: 0 auto;
}
