.useraccount {
display: relative;
background-color: #fefbf3;
height: 100vh;
}

.useraccount > h1 {
text-align: center;
}

.checklist-rectangle {
width: 200px;
height: 300px;
background-color: lightblue;
display: flex;
justify-content: center;
align-items: center;
margin: 2em;
border-radius: 20px;
}


.checklist-add-nl {
background: transparent;
border: none;
}

.cl-main {
display: flex;
flex-wrap: wrap;
justify-content: left;
/* height: 100vh; */
}

.switches {
    width: fit-content;
    position: absolute;
    left: 0; 
  right: 0; 
  bottom: 2em;
  margin-left: auto; 
  margin-right: auto; 
}